#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development
Comment[ru_RU]=
Comment=
Exec=/opt/JetBrains.Webstorm/bin/webstorm.sh
GenericName[ru_RU]=Javascript
GenericName=Javascript
Icon=/opt/JetBrains.Webstorm/bin/webstorm.png
MimeType=
Name[ru_RU]=Jetbrains Webstorm
Name=Jetbrains Webstorm
Path=/opt/JetBrains.Webstorm/bin
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
