#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development
Comment[ru_RU]=
Comment=
Exec=/opt/JetBrains.PHPStorm/bin/phpstorm.sh
GenericName[ru_RU]=PHP
GenericName=PHP
Icon=/opt/JetBrains.PHPStorm/bin/phpstorm.png
MimeType=
Name[ru_RU]=Jetbrains PHPStorm
Name=Jetbrains PHPStorm
Path=/opt/JetBrains.PHPStorm/bin
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
