#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Development
Comment[ru_RU]=
Comment=
Exec=/opt/JetBrains.Rider/bin/rider.sh
GenericName[ru_RU]=C#
GenericName=C#
Icon=/opt/JetBrains.Rider/bin/rider.png
MimeType=
Name[ru_RU]=Jetbrains rider
Name=Jetbrains rider
Path=/opt/JetBrains.Rider/bin
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-RunOnDiscreteGpu=false
X-KDE-SubstituteUID=false
X-KDE-Username=
